<html>
<head>
<link rel="stylesheet" href="../../../provided/styles/bootstrap.min.css">
<link rel="stylesheet" href="../../../provided/styles/theme.css">
</head>

<body>
	<div class="dropdown theme-dropdown clearfix">
		<a id="dropdownMenu1" href="#" class="sr-only dropdown-toggle"
			data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><a role="menuitem" href="#">Start</a></li>
			<li role="presentation"><a role="menuitem" href="#">Stop</a></li>
			<li role="presentation" class="divider"></li>
			<li role="presentation"><a role="menuitem" href="#">Separated
					link</a></li>
		</ul>
	</div>
</body>

</html>